[submodule "GEDB030-47_Computer-Programming-for-Engineers_2018Spring"]
	path = GEDB030-47_Computer-Programming-for-Engineers_2018Spring
	url = https://github.com/jun-hyeok/GEDB030-47_Computer-Programming-for-Engineers_2018Spring
[submodule "GEDB029-47_Basis-and-Practice-in-Programming_2018Fall"]
	path = GEDB029-47_Basis-and-Practice-in-Programming_2018Fall
	url = https://github.com/jun-hyeok/GEDB029-47_Basis-and-Practice-in-Programming_2018Fall
[submodule "GBE2027-41_BME-Engineering-Mathematics-I_2019Spring"]
	path = GBE2027-41_BME-Engineering-Mathematics-I_2019Spring
	url = https://github.com/jun-hyeok/GBE2027-41_BME-Engineering-Mathematics-I_2019Spring
[submodule "GBE2028-41_BME-Engineering-Mathematics-II_2019Fall"]
	path = GBE2028-41_BME-Engineering-Mathematics-II_2019Fall
	url = https://github.com/jun-hyeok/GBE2028-41_BME-Engineering-Mathematics-II_2019Fall
[submodule "GBE3065-41_Introduction-to-matlab-programing-and-machine-learning_2020Spring"]
	path = GBE3065-41_Introduction-to-matlab-programing-and-machine-learning_2020Spring
	url = https://github.com/jun-hyeok/GBE3065-41_Introduction-to-matlab-programing-and-machine-learning_2020Spring
[submodule "AAI2003-02_Introduction-to-Data-Structure_2020Spring"]
	path = AAI2003-02_Introduction-to-Data-Structure_2020Spring
	url = https://github.com/jun-hyeok/AAI2003-02_Introduction-to-Data-Structure_2020Spring
[submodule "AAI2011-02_Introduction-to-System-Programming_2020Spring"]
	path = AAI2011-02_Introduction-to-System-Programming_2020Spring
	url = https://github.com/jun-hyeok/AAI2011-02_Introduction-to-System-Programming_2020Spring
[submodule "AAI2012-02_Computational-Thinking-Programming-and-Application_2020Spring"]
	path = AAI2012-02_Computational-Thinking-Programming-and-Application_2020Spring
	url = https://github.com/jun-hyeok/AAI2012-02_Computational-Thinking-Programming-and-Application_2020Spring
[submodule "AAI3013-01_Big-Data-Analysis_2020Spring"]
	path = AAI3013-01_Big-Data-Analysis_2020Spring
	url = https://github.com/jun-hyeok/AAI3013-01_Big-Data-Analysis_2020Spring
